
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item rounded-3 border-0 shadow mb-2">
      <h2 class="accordion-header">
        <button class="accordion-button border-bottom collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Bootstrap Accordion #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>Please check our more latest Design @ <a href="https://codepen.io/Gaurav-Rana-the-reactor">Codepen</a></p>
        </div>
      </div>
    </div>
    <div class="accordion-item rounded-3 border-0 shadow mb-2">
      <h2 class="accordion-header">
        <button class="accordion-button border-bottom collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Bootstrap Accordion #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>Please check our more latest Design @<a href="https://codepen.io/Gaurav-Rana-the-reactor">Codepen</a></p>
        </div>
      </div>
    </div>
    <div class="accordion-item rounded-3 border-0 mb-2 shadow">
      <h2 class="accordion-header">
        <button class="accordion-button border-bottom collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Bootstrap Accordion #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>Please check our more latest Design @ <a href="https://codepen.io/Gaurav-Rana-the-reactor">Codepen</a></p>
        </div>
      </div>
    </div>
  </div>



    <script>
      document.addEventListener("DOMContentLoaded", () => {
        new ApexCharts(
          document.querySelector("#reportsChart"),
          {
            series: [
              {
                name: "Sales",
                data: [31, 40, 28, 51, 42, 82, 56],
              },
              {
                name: "Revenue",
                data: [11, 32, 45, 32, 34, 52, 41],
              },
              {
                name: "Customers",
                data: [15, 11, 32, 18, 9, 24, 11],
              },
            ],
            chart: {
              height: 350,
              type: "area",
              toolbar: {
                show: false,
              },
            },
            markers: {
              size: 4,
            },
            colors: ["#4154f1", "#2eca6a", "#ff771d"],
            fill: {
              type: "gradient",
              gradient: {
                shadeIntensity: 1,
                opacityFrom: 0.3,
                opacityTo: 0.4,
                stops: [0, 90, 100],
              },
            },
            dataLabels: {
              enabled: false,
            },
            stroke: {
              curve: "smooth",
              width: 2,
            },
            xaxis: {
              type: "datetime",
              categories: [
                "2018-09-19T00:00:00.000Z",
                "2018-09-19T01:30:00.000Z",
                "2018-09-19T02:30:00.000Z",
                "2018-09-19T03:30:00.000Z",
                "2018-09-19T04:30:00.000Z",
                "2018-09-19T05:30:00.000Z",
                "2018-09-19T06:30:00.000Z",
              ],
            },
            tooltip: {
              x: {
                format: "dd/MM/yy",
              },
            },
          }
        ).render();
      });
    </script> 
